/* .container{
    display: flex;
  }
  
  .carrercounsellingimg{
    padding: 5px;

  } */
  
  .intro{
    font-size:x-large;
    /* display: flex; */
    text-align: justify;
    color: #282c34;
    margin: 4rem;
  }
  