.container{
  display: flex;
}

.offerings {
    text-align: center;
    color:#282c34;
    font-size: 90px;
  }
  
  .offeringsList{
    text-align: justify;
    color: black;
    margin: 2rem;
    font-size: x-large;
    color: #282c34;
  }
  
  .offeringsListItems{
    text-align: justify;
    color: black;
    margin: 2rem;
    font-size: x-large;
    color: #282c34;
  }
  